* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
table {
	margin: auto;
}
td {
	padding-left: 20px;
	width: 100vw;
	height: 100vh;
}
.erste {
	background-color: rgb(119, 163, 160);
}
.zweite {
	background-color: rgb(85, 91, 124);
	color: aliceblue;
}